<header>
    <nav class="p-2 navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand logo" href="/">
            <img class="logo" alt="logo" src="{{ asset('/assets/images/logo.png') }}">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-between flex-wrap" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto d-flex flex-wrap">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_post_index') }}">Dernières publications</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_post_list_posts_of_connected_pet') }}">Mes dernières publications</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav mr-auto d-flex flex-wrap justify-content-end">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_pet_show',  {'id': app.user.id}) }}">Mon compte</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </nav>
</header>