{% extends 'base.html.twig' %}

{% block title %}Pet index{% endblock %}

{% block body %}
    <h1>Pet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pet in pets %}
            <tr>
                <td>{{ pet.id }}</td>
                <td>{{ pet.username }}</td>
                <td>{{ pet.roles ? pet.roles|json_encode : '' }}</td>
                <td>{{ pet.password }}</td>
                <td>
                    <a href="{{ path('app_pet_show', {'id': pet.id}) }}">show</a>
{#                    <a href="{{ path('app_pet_edit', {'id': pet.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
