{% extends 'base.html.twig' %}

{% block title %}Pet{% endblock %}

{% block body %}
    <h1>Pet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pet.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ pet.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ pet.roles ? pet.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ pet.password }}</td>
            </tr>
        </tbody>
    </table>

{#    <a href="{{ path('app_pet_edit', {'id': pet.id}) }}">edit</a>#}

{% endblock %}
