{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block pageName %}home{% endblock %}

{% block body %}

    <div class="row align-items-center h-100">
        <div class="col-md-6">
            <h1 class="text-white">Trouvez votre bonheur grâce à PetBook</h1>
        </div>
    </div>

{% endblock %}
