{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>

    {{ form_start(registrationForm, {'attr': {'class': 'my-3'}}) }}

    {% if not registrationForm.vars.valid %}
        <div class="alert alert-error">
            {{ form_errors(registrationForm) }}

            {% for children in registrationForm.children %}
                {% if not children.vars.valid %}
                    {{ form_errors(children) }}

                    {# or with field label
                <ul>
                    {% for error in children.vars.errors %}
                        <li><b>{{ children.vars.label }}</b>: {{ error.message }}</li>
                    {% endfor %}
                </ul>
                    #}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="form-group row mb-2">
        {#        {{ form_label(registrationForm.username, 'Email', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }} #}
        <div class="col-sm-3">
            {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control', 'placeholder': 'Nom d\'utilisateur'}}) }}
        </div>
    </div>

    <div class="form-group row mb-2">
        {#        {{ form_label(registrationForm.plainPassword, 'Password', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }} #}
        <div class="col-sm-3">
            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
        </div>
    </div>

    <div class="form-group row mb-2">
        <div class="col-sm-4">
            <div class="form-check">
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(registrationForm.agreeTerms, 'J\'accepte que vous me voliez mes données', {'label_attr': {'class': 'form-check-label'}}) }}
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </div>
    </div>

    {{ form_end(registrationForm) }}
{% endblock %}
