{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.content, 'Contenu') }}
    {{ form_widget(form.content, {'attr': {'class': 'form-control mb-2'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.image) }}<br/>
    {{ form_widget(form.image, {'attr' : {'class': "form-control-file mb-2"}}) }}
</div>

<button class="btn btn-primary mt-2">Publier</button>


{{ form_end(form) }}
