{% extends 'base.html.twig' %}

{% block title %}Modification de la Publication{% endblock %}

{% block body %}
    <h1>Modification de la Publication</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
