{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                {% if post.image %}
                    <td><a href="{{ asset('uploads/images/' ~ post.image) }}"><img src="{{ asset('uploads/images/' ~ post.image) }}" alt="Image" width="100px"/></a></td>
                {% endif %}
                <td>
                    <a href="{{ path('app_post_show', {'id': post.id}) }}" class="btn btn-primary">Afficher</a>
                    <a href="{{ path('app_post_edit', {'id': post.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_post_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
