{% extends 'base.html.twig' %}

{% block title %}Nouvelle publication{% endblock %}

{% block body %}

    <h1>Créer une nouvelle publication</h1>

    {{ include('post/_form.html.twig') }}

{% endblock %}
