{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Contenu</th>
            <td>{{ post.content }}</td>
        </tr>
        {% if post.image %}
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('uploads/images/' ~ post.image) }}" alt="Image" width="100px"/></td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <a href="{{ path('app_post_edit', {'id': post.id}) }}" class="btn btn-primary">Modifier</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
